* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  background-color: #e8eaf6;
}

.memory-game {
  width: 900px;
  height: 650px;
  margin: auto;
  background-color: #42a5f5;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
}

.memory-game--success {
  background-image: url("../assets/success.png");
}

.memory-game--fail {
  background-image: url("../assets/fail.png");
}

.memory-game--success .memory-game__top,
.memory-game--success .memory-game__bottom,
.memory-game--fail .memory-game__top,
.memory-game--fail .memory-game__bottom,
.memory-game--result .memory-game__top,
.memory-game--result .memory-game__bottom {
  display: none;
}

.memory-game__top {
  height: 300px;
  width: 715px;
  height: 102px;
  margin: 40px auto;
  background-color: #64b5f6;
  box-shadow: 0px 0px 24px 19px rgba(153, 170, 184, 0.28);
  font-size: 32px;
  color: white;
  line-height: 102px;
  text-align: center;
  border-radius: 3px;
}
.memory-game__bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  width: 715px;
  margin: 10px auto;
  height: 520px;
  align-items: center;
}

.memory-game__bottom :nth-child(1n + 1) {
  background-color: #ec407a;
}
.memory-game__bottom :nth-child(2n + 3) {
  background-color: #ff8f00;
}
.memory-game__bottom :nth-child(3n + 4) {
  background-color: #a5d6a7;
}
.memory-game__bottom :nth-child(5n + 4) {
  background-color: #5e35b1;
}
.memory-game__bottom :nth-child(1n + 2) {
  -webkit-animation: shakeAnimation 0.4s linear infinite both;
  animation: shakeAnimation 0.4s linear infinite both;
}
.memory-game__bottom :nth-child(2n + 1) {
  -webkit-animation: heartbeat 0.8s ease-in-out infinite both;
  animation: heartbeat 0.8s ease-in-out infinite both;
}
.memory-game__bottom :nth-child(4n + 1) {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
.memory-game__bottom :nth-child(5n + 1) {
  -webkit-animation: shake-bottom 1s 1s infinite both;
  animation: shake-bottom 1s 1s infinite both;
}
.number-btn {
  border: none;
  height: 100px;
  font-size: 31px;
  color: white;
  margin-bottom: 10px;
  font-weight: 500;

  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
}
.title {
  display: flex;
  justify-content: space-around;
}

.shakeAnimation {
  -webkit-animation: shakeAnimation 0.4s linear infinite both;
  animation: shakeAnimation 0.4s linear infinite both;
}

.heartbeat {
  -webkit-animation: heartbeat 0.8s ease-in-out infinite both;
  animation: heartbeat 0.8s ease-in-out infinite both;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.shake-bottom {
  -webkit-animation: shake-bottom 1s 1s infinite both;
  animation: shake-bottom 1s 1s infinite both;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 600px;
  justify-content: space-between;
  margin: 160px auto;
}

.result-title {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
.result-text {
  font-size: 26px;
  font-family: "Roboto";
  font-weight: 500;
  color: white;
  padding-bottom: 110px;
}
.repeat-btn {
  height: 60px;
  width: 491px;
  border-radius: 36px;
  border: none;
  background-color: #5e35b1;
  color: white;
  font-size: 20px;
}

@keyframes shakeAnimation {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes shakeAnimation {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
